// Component
@import url("./components/Navbar.scss");
// End Component

// Inter
@import url("./Font.scss");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}