// Resetter
// @import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

// Inter
// @import url("./Font.scss");

// Material Symbols Config
@import url("./MaterialSymbols.scss");

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Install 'Inter' font to project
html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
