nav {
    background-color: whitesmoke;
    box-shadow: 0 2px 8px darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 21px 62px;
    column-gap: 20px;

    .material-symbols-rounded {
        font-size: 28px;
        color: #555 !important;
    }

    .nav-brand {
        
        height: auto;

        img {
            max-width: 200px !important;
        }
    }
    
    .nav-search {
        border: 2px solid #888;
        border-radius: 20px;
        overflow: hidden;
        flex-grow: 1;
        flex-basis: 1;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 568px;
        position: relative;

        label {
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            position: absolute;
        }

        input {
            background-color: white;
            border: 0;
            outline: 0;
            padding: 12px;
            padding-left: 40px;
            font-size: 18px;
            width: 100%;
            color: #777;
        }
    }

    .nav-interactive {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        @media screen and (min-width: 769px) {
            column-gap: 40px;
        }
    }
}